*{
text-align: center;
top: 50px;
position: relative;
}

body{
    background-color: rgb(42, 111, 172);
}

.date{
    font-size: 50px;
    color: white;
}

.time{
    font-size: 100px;
    color: white;
    font-weight: bold;
}
